# Entorno virtual
agrotiquiza_env/
venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de Django
db.sqlite3
media/

# Archivos de VS Code
.vscode/

# Archivos de migraciones (opcional)
# */migrations/*.py
# !*/migrations/__init__.py

# Otros
*.log
.env
