{% extends "base.html" %}
{% block content %}
<div style="max-width:420px;margin:60px auto">
  <h2>Cambiar Contraseña</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Actualizar contraseña</button>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
  </form>
  {% for message in messages %}
    <div>{{ message }}</div>
  {% endfor %}
</div>
{% endblock %}
