{% extends "base_public.html" %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/css/login.css' %}">

{% endblock %}

{% block content %}

<div class="login-wrapper">
    <div class="login-card">

        <div class="login-header">
            <div class="logo-container">
                <img src="{% static 'users/imagenes/logo.png' %}" alt="Logo"class="login-logo" >
            </div>
            <h3 class="brand-name">AGROTIQUIZA</h3>
        </div>

        <div class="login-body">

            <h4 class="login-title">Iniciar Sesión</h4>
            <p class="login-subtitle">Ingrese sus credenciales para acceder</p>

            <form method="POST" id="loginForm" novalidate>
                {% csrf_token %}

                <div class="form-group">
                    <label for="id_username" class="form-label">Cédula</label>
                    <input type="text" 
                           name="username" 
                           id="id_username"
                           class="form-control" 
                           placeholder="Ingrese su número de cédula"
                           pattern="[0-9]+"
                           inputmode="numeric"
                           required>
                    <div class="invalid-feedback">Solo se permiten números.</div>
                </div>

                <div class="form-group">
                    <label for="id_password" class="form-label">Contraseña</label>
                    <input type="password" 
                           name="password" 
                           id="id_password"
                           class="form-control" 
                           placeholder="Ingrese su contraseña"
                           required>
                </div>

                <button type="submit" class="btn-login">Ingresar</button>
            </form>

            <div class="recover-container">
                <a href="{% url 'users:recover_password' %}" class="recover-link">
                    ¿Olvidó su contraseña?
                </a>
            </div>

        </div>

        <div class="login-footer">
            <small>Sistema Ganadero v1.0</small>
        </div>
        <div class="login-footer">
            <small>© 2025 Sistema de Ganadería. Todos los derechos reservados.</small>
        </div>

    </div>
</div>

{% for message in messages %}
<div class="django-message" data-type="{{ message.tags }}" style="display:none;">{{ message }}</div>
{% endfor %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="django-message" data-type="error" style="display:none;">{{ error }}</div>
    {% endfor %}
{% endif %}

<script src="{% static 'users/js/login.js' %}"></script>

{% endblock %}