{% extends "base.html" %}
{% block content %}

<div style="padding: 40px;">
    <h2>Registro de Producción de Leche</h2>

    <a href="{% url 'ganaderia:registrar_produccion' %}">← Volver al listado</a>
    <br><br>

    <form method="post">
        {% csrf_token %}

        <label>Animal:</label>
        {{ form.animal }}
        <br><br>

        <label>Litros producidos:</label>
        {{ form.litros }}
        <br><br>

        <label>Fecha:</label>
        {{ form.fecha }}
        <br><br>

        <button type="submit">Registrar Producción</button>
        <a href="{% url 'ganaderia:registrar_produccion' %}">Cancelar</a>
    </form>
</div>

{% endblock %}
