<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Agrotiq{% endblock %}</title>
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .sidebar {
            width: 260px;
            background: #f1f1f1;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            padding: 20px;
            overflow-y: auto;
        }
        .content {
            margin-left: 280px;
            padding: 30px;
        }
    </style>
</head>

<body>

{% if user.is_authenticated %}
<!-- SIDEBAR -->
<div class="sidebar">

    <h3>Menú Principal</h3>

    <ul>

        {% if user.rol.nombre_rol == "Gerente" %}
        <li>
            <details>
                <summary>Módulo Administración</summary>
                <ul>
                    <li><a href="{% url 'users:users_list' %}">Gestión de Usuarios</a></li>
                    <li><a href="{% url 'users:register' %}">Registrar Usuario</a></li>
                </ul>
            </details>
        </li>
        {% endif %}

        <li>
            <details>
                <summary>Gestión Animal</summary>
                <ul>
                    <li><a href="{% url 'ganaderia:animales_list' %}">Identificación de Animales</a></li>
                    <li><a href="{% url 'ganaderia:partos_list' %}">Registrar Partos</a></li>
                    <li><a href="{% url 'ganaderia:pesajes_list' %}">Registro de Pesajes</a></li>
                    <li><a href="{% url 'ganaderia:eventos_salida' %}">Eventos de Salida</a></li>
                    <li><a href="{% url 'ganaderia:registrar_produccion' %}">Producción de Leche</a></li>
                    <li><a href="{% url 'ganaderia:traslados' %}">Traslados</a></li>
                    <li><a href="{% url 'finca:create' %}">Registrar Finca</a></li>
                </ul>
            </details>
        </li>

        <li>
            <details>
                <summary>Salud Animal</summary>
                <ul>
                    <li><a href="">Eventos Sanitarios</a></li>
                    <li><a href="">Inseminación</a></li>
                    <li><a href="">Confirmación de Gestación</a></li>
                </ul>
            </details>
        </li>

    </ul>

    <br><br>
    <a href="{% url 'users:logout' %}" style="color:red;">Cerrar sesión</a>

</div>
{% endif %}

<!-- CONTENIDO PRINCIPAL -->
<div class="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
